.afCropImage .wrapper{
	margin-top: 60px;
}

.afCropImage .slider-wrapper {
    margin: 20px 0px 60px 0px;
    text-align: center;
    position: relative;
    width: 250px;
}

.afCropImage .slider-wrapper .left {
    position: absolute;
    left: 0px;
    top: -4px;
    font-size: 17px;
}

.afCropImage .slider-wrapper .right {
    position: absolute;
    top: -11px;
    right: 0px;
	font-size: 25px;
}

.afCropImage .cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 250px;
    cursor: move;
}

.afCropImage .cropit-image-zoom-input {
    width: 70%!important;
    margin: 0 auto;
}

.afCropImage .cropit-image-background {
    opacity: .2;
    cursor: auto;
}

.afCropImage .cropit-image-zoom-input.custom {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}

.afCropImage .image-size-label {
    margin-top: 10px;
}

.afCropImage .bootstrap-tagsinput{
    width: 100%!important;
}

.afCropImage .center{
    text-align: center;
}

.afCropImage .search-gallery{
    margin-bottom: 30px;
}

.afCropImage #gallery{
    margin-bottom: 30px;
}

.afCropImage .nav-tabs{
    margin: 40px 0px 40px 0px;
}

.afCropImage .image{
    margin-bottom: 60px;
}

.afCropImage .bootstrap-tagsinput{
    margin-top: 20px;
}

